bin/
build/
assets/module
launcher/build
launcher/.*
jni/logger.h
jni/luajit-build
eink-test/build
eink-test/src/org/koreader/test/eink/*EPDController.java
local.properties
project.properties
.idea/
.gradle/
*.apk
*.swp
*.iml
