[submodule "luajit-2.0"]
	path = luajit-2.0
	url = git://repo.or.cz/luajit-2.0.git
[submodule "jni/compress-deflate7"]
	path = jni/compress-deflate7
	url = https://github.com/hoehrmann/Compress-Deflate7.git
