bin/
gen/
libs/
obj/
assets/module
jni/luajit-build
eink-test/bin
eink-test/gen
eink-test/libs
eink-test/local.properties
eink-test/project.properties
eink-test/proguard-project.txt
eink-test/src/org/koreader/einkTest/*EPDController.java
eink-test/*.apk
local.properties
proguard-project.txt
.gradle/
*.apk
*.swp
