local.properties
project.properties

.idea 
.gradle 
*.apk
*.swp
*.iml

bin
build
app/.*
app/build
assets/libs
assets/module
jni/logger.h
jni/luajit/build
tests/einkTest/build
tests/einkTest/src/org/koreader/test/eink/*EPDController.java
