<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >
    <!-- permissions for in-app updates -->
    <uses-permission tools:node="merge" android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission tools:node="merge" android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
</manifest>
